<!-- Navbar -->
<!--   <nav class="main-header navbar navbar-expand navbar-warning navbar-light ml-0"> -->
  <nav class="main-header navbar navbar-expand ml-0 p-0" style="background:rgb(234 123 34)">
    <!-- Left navbar links -->
    <ul class="navbar-nav ml-5">
      <!-- <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
       -->
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">
          <i class="fa fa-phone text-white" aria-hidden="true"> +91 8860923233</i>
        </a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">
          <i class="fa fa-envelope text-white" aria-hidden="true"> care@evexiushealthcare.com</i>
        </a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto mr-4">
      <li class="nav-item">
        <a class="nav-link font-weight-bold text-white"  href="#">
          Carrers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold text-white"  href="#">
          Pricing
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold text-white"  href="#">
          FAQs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold text-white"  href="#">
          Events
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold text-white"  href="#">
          Updates
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold text-white"  href="#">
          Request Callback
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->
<div class="hold-transition login-page bg-white" style="height: 80vh;">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="">
      <div class="text-center">
        <a href="../../index2.html" class="h1"><img src="src/img/logo.png" alt="Logo" style="width: 25rem;"></a>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <!-- <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Enter User Id">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div> -->
          <div class="row pb-2">
            <div class="col-sm-12">
              <h5 class="font-weight-bold">Enter User Credentials</h5>
            </div>
          </div>
          <div class="row pb-4">
            <div class="col-sm-4">
              <label  class="col-form-label"> User Id </label>
            </div>
            <div class="col-sm-8">
              <input type="email" id="" class="form-control rounded-0" >
            </div>
          </div>


          <div *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)"
             class="text-danger">
            <div *ngIf="f.username.errors?.required">
                Name is required.
            </div>
          </div>

          <div class="input-group mb-3">
            <input type="password" class="form-control" formControlName="password" placeholder="Enter Your Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          

          <div class="row pb-4">
            <div class="col-sm-4">
              <label  class="col-form-label">Password</label>
            </div>
            <div class="col-sm-8">
              <input type="password" id="" formControlName="password" class="form-control rounded-0">
            </div>
          </div>      
          <div class="row">
            <div class="col-6">
               <a href="#" class="btn rounded-pill" style="background: #f4b183;">Forgot Password</a>
               <!--<a href="#">Forgot Password</a> -->
              <!-- <button type="submit" class="btn btn-info btn-block">Forgot Password</button> -->
              <!-- <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div> -->
            </div>
            <div class=" col-2">
              
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-success btn-block rounded-pill" [disabled]="!form.valid">Sign In
              </button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <!-- <div class="social-auth-links text-center mt-2 mb-3">
          <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
          </a>
        </div> -->
        <!-- /.social-auth-links -->

        <!-- <p class="mb-1">
          <a href=""><button type="submit" class="btn btn-primary btn-block">Forgot Password</button></a>
          <a href="forgot-password.html">I forgot my password</a>
        </p>-->
        <p class="mb-0">
          <a (click)="register()" class="text-center">Register a new membership</a>
        </p> 
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

